{% extends 'base.html' %}
{% block controller %}user_profile{% endblock %}
{% set is_owner = current_user.is_authenticated() and current_user.id == user.id %}
{% set is_admin = current_user.is_authenticated() and current_user.rights == 'admin' %}
{% block js_globals %}
{{ super() }}
<script>
	{% if is_owner and current_user.doer %}
		if( GLOBAL.hasOwnProperty('current_user') ) {
			GLOBAL.all_categories = [];
			{% for category in all_categories_hierarchy %}
				var children = [];
				{% for child in all_categories_hierarchy[category].children %}
					children.push({'name': '{{ child.name }}', 'id': {{ child.id }}, 'done_by_this_user': {{ child.done_by_this_user|lower }} });
				{% endfor %}
				GLOBAL.all_categories.push({'name': '{{ all_categories_hierarchy[category].data.name }}', 'children': children});
			{% endfor %}
		}
	{% endif %}
	GLOBAL.user = {
		id: {{ user.id }},
		full_name: "{{ user.full_name }}"
	};
</script>
{% endblock %}
{% block body %}
	{{ super() }}
	<div class="user-profile page-narrower">
		{% if is_owner and user.received_personal_offers.count() > 0 %}
		<div class="panel callout">
			<h3>Вам предложили выполнить задания:</h3>
			{% for offer in user.received_personal_offers %}
				<div class="received-personal-offer">
					<a href="{{ url_for('frontend.task', id=offer.task.id, _external=True) }}">{{ offer.task.title }}</a>
					<a class="button small js-accept-personal-offer" data-offer-id="{{ offer.id }}" data-requires-price="{{ not offer.task.price }}">Принять</a>
					<a class="button small js-decline-personal-offer" data-offer-id="{{ offer.id }}">Отклонить</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}
		<h1 class="user-profile__fullname">
			{{ user.full_name }}
			{% if is_owner %}
			<a class="edit-field js-edit-field" data-field="full_name" data-message="Введите новое имя и фамилию"><span class="icon icon-edit size-24"></span></a>
			{% endif %}
		</h1>
		<div class="row">
			<div class="user-profile__avatar large-4 columns">
                <a href="{{ user_avatar_link(user) }}">
				<img class="user-profile__avatar-img" src="{{ user_avatar_link(user) }}">
                </a>
			</div>
			<div class="user-profile__info callout panel large-8 columns">
				<div class="user-profile__city">
					Населённый пункт: {{ user.city }}{% if is_owner %}<a class="edit-field js-edit-field" data-field="city" data-message="Ваш населённый пункт" data-convert="str"><span class="icon icon-edit size-16"></span></a>{% endif %}
				</div>

				<div class="user-profile__age">{{ (user.age ~ user.age|plural_form([' год ', ' года ', ' лет '])) if user.age else 'Возраст не указан ' }}{% if is_owner %}<a class="edit-field js-edit-field" data-field="age" data-message="Укажите ваш возраст" data-convert="int"><span class="icon icon-edit size-16"></span></a>{% endif %}</div>

				{% if user.phone_confirmed %}
				<div class="user-profile__phone-confirmed">Телефон подтверждён {% if is_owner or is_admin %}({{user.phone}}){% endif %} {% if is_owner %}<a class="edit-field js-edit-field" data-field="phone" data-message="Введите ваш телефон (через +7)" data-convert="str"><span class="icon icon-edit size-16"></span></a>{% endif %}</div>
				{% else %}
				<div class="user-profile__phone-confirmed">Телефон не подтверждён {% if is_owner or is_admin %}({{user.phone}}){% endif %} {% if is_owner %}<a class="edit-field js-edit-field" data-field="phone" data-message="Введите ваш телефон (через +7)" data-convert="str"><span class="icon icon-edit size-16"></span></a>{% endif %}</div>
				{% endif %}

				<div class="user-profile__email-confirmed">Email подтверждён</div>
				
				{% set tasks_assigned = user.assigned_tasks.count() %}
				{% set tasks_created = user.created_tasks.count() %}
				<div class="user-profile__tasks-done-counter">{{ ('Выполнено %i ' + tasks_assigned|plural_form(['задание', 'задания', 'заданий'])) % tasks_assigned if user.doer }}</div>
				<div class="user-profile__tasks-created-counter">{{ ('Создано %i ' + tasks_created|plural_form(['задание', 'задания', 'заданий'])) % tasks_created }}</div>
				<div class="user-profile__rating">{{ 'Рейтинг: %.2g' % user.rating }}</div>
				{% if is_owner and user.doer %}
				<div class="user-profile__balance">{{ 'На вашем счету %i рублей' % user.balance }}{% if is_admin %}<a class="edit-field js-edit-field" data-field="balance" data-message="Введите новую сумму счёта" data-convert="int"><span class="icon icon-edit size-16"></span></a>{% endif %}</div>
				{% endif %}
			</div>
		</div>
		{% if is_owner %}
		<div class="row">
            {% if user.avatar %}
			<div class="user-profile__action action"><a href="{{ url_for('frontend.change_avatar') }}">Изменить фото</a></div>
            <div class="user-profile__action action"><a href="{{ url_for('frontend.remove_avatar') }}">Удалить фото</a></div>
            {% else %}
			<div class="user-profile__action action"><a href="{{ url_for('frontend.change_avatar') }}">Добавить фото</a></div>
            {% endif %}
			<div class="user-profile__action action"><a class="js-action-change-password">Сменить пароль</a></div>
			{% if user.doer %}<div class="user-profile__action action"><a href="{{url_for('frontend.payment_new')}}">Пополнить баланс</a></div>{% endif %}
			{% if not has_rights(current_user, 'trusted') %}
			<div class="user-profile__action action"><a href="{{ url_for('frontend.request_doer_rights') }}">Стать проверенным</a></div>
			{% endif %}
			{% if not current_user.phone_confirmed %}
				<div class="user-profile__action action"><a href="{{url_for('frontend.confirm_mobile')}}">Подтвердить телефон</a></div>
			{% endif %}
			<div class="user-profile__action action--dangerous action"><a class="js-action-delete-account">Удалить профиль</a></div>
		</div>
		{% endif %}
		{% if not is_owner and user.doer %}<div class="user-profile__action action"><a class="js-offer-personal-task">Предложить задание</a></div>{% endif %}

		<div class="row">
			<h2>
				О себе
				{% if is_owner %}
					<a class="edit-field js-edit-field" data-field="about" data-edit-type="textarea" data-message="Расскажите о себе"><span class="icon icon-edit size-24"></span></a>
				{% endif %}
			</h2>
			<div class="user-profile__about">
				{{ user.about if user.about else 'Пользователь ещё ничего о себе не рассказал.' }}
			</div>
		</div>

		{% if user.doer %}
		<div class="row">
			<h2>Виды выполняемых работ {% if is_owner %}<a class="edit-field js-action-edit-task-cats" data-field="task_categories"><span class="icon icon-edit size-24"></span></a>{% endif %}</h2>
			<ul class="user-profile__task-categories">
				{% for category in task_categories %}
				<li class="user-profile__task-category">
					<a href="{{ url_for('frontend.user_list', category_name=task_categories[category].data.url_name) }}" class="user-profile__task-category-primary">{{ task_categories[category].data.name }}</a>
					<div class="user-profile__task-subcategories">
						{% for child in task_categories[category].children %}
						<a href="{{ url_for('frontend.user_list', category_name=child.url_name) }}" class="user-profile__task-subcategory">{{ child.name }}</a>{{ ', ' if not loop.last }}
						{% endfor %}
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		
		<div class="row">
			<h2>Портфолио</h2>
			<div class="user-profile__portfolio">
				{% if is_owner %}
					{% if portfolio_items|length == 0 %}
					Хорошее портфолио позволит вам показать качество своей работы. Добавьте сюда несколько фотографий с краткими описаниями.
					{% endif %}
				{% endif %}
				{% for item in portfolio_items %}
				<div class="portfolio__item">
					<a class="wrapper-link js-mfp" title="{{item.description}}" href="{{ item.url }}" data-description="{{item.description}}"><img src="{{ item.url }}" alt="{{item.description}}"></a>
				</div>
				{% endfor %}
				{% if is_owner %}
				<div class="portfolio__item portfolio__add-item">
					<a class="wrapper-link" href="{{ url_for('frontend.add_portfolio_item') }}"><img src="/static/assets/img/add_portfolio_item.png" alt="Добавить фотографию"></a>
				</div>
				{% endif %}
			</div>
			
		</div>

		<div class="user-profile__comments">
			<h2>Отзывы</h2>
			{% if user.received_comments.count() == 0 %}
				Об этом пользователе пока нет отзывов.
			{% endif %}

			{% for comment in received_comments %}
				<div class="user-page__comment comment row">
					<div class="comment__author large-2 columns">
						<img src="{{ user_avatar_link(comment.author) }}" class="user-avatar comment__avatar">
						<p class="comment__full-name">{{comment.author.full_name}}</p>
					</div>
					<div class="comment__content large-10 columns">
						<p>Отзыв {{ 'о задании ' if comment.task.customer.id == user.id else 'о выполнении задания ' }} <a href="{{ url_for('frontend.task', id=comment.task.id, _external=True) }}">{{ comment.task.title }}</a></p>
						<p class="comment__text">{{comment.text}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
        
        {% if is_owner or current_user.rights == 'admin' %}
        <div class="user-profile__trusted">
			<h2>Доверенные лица</h2>
			{% if user.trusted_persons.count() == 0 %}
				Этот пользователь ещё не добавил доверенных лиц.
			{% else %}

			
				<table class="trusted-persons">
                    <tr>
                        <th>ФИО</th>
                        <th>Телефон</th>
                        <th>Комментарий</th>
                        {% if is_owner %}<th>Действия</th>{% endif %}
                    </tr>
                    {% for person in user.trusted_persons %}
                        <tr>
                            <td>{{ person.full_name }}</td>
                            <td>{{ person.phone }}</td>
                            <td>{{ person.description }}</td>
                            {% if is_owner %}
                            <td>
                                <a class="button tiny js-button-delete-trusted" data-id="{{ person.id }}">Удалить</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}                    
                </table>

            {% endif %}
		</div>
        
        {% if is_owner %}
            {% if user.trusted_persons.count() < 2 %}
                <a class="button js-action-add-trusted">Добавить доверенное лицо</a>
            {% else %}
                <p>Вы можете добавить не более двух доверенных лиц.</p>
            {% endif %}
        {% endif %}
        
        {% endif %}


	</div>
{% endblock body %}