{% extends 'base.html' %}
{% block controller %}restore_password{% endblock %}
{% block body %}
	{{ super() }}
	<div class="page-narrower">
		<div class="center-x">
		    <h2>Восстановление пароля</h2>
		</div>
		
		<p>Пожалуйста, введите e-mail аккаунта, пароль от которого вы забыли. Новый пароль будет выслан на указанный адрес e-mail.</p>
		
		<ul class="form-errors">
		  {% for field_name in form.errors %}
			{% for error in form.errors[field_name] %}
			  <li>{{ error }}</li>
			{% endfor %}
		  {% endfor %}
		</ul>
		
		<form method="POST">
			<label>E-mail:</label>
			<input type="text" name="email" value="">
			<input type="submit" class="button" value="Восстановить пароль">
		</form>
		
	</div>
{% endblock body %}
